
.hidden {
  display: none;
}

#page-container {
  display: flex;
  justify-content: center;
}
#header-container{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#addEventContainer {
  background-color: lightblue;
  padding: 2%;
  max-height: 450px;
  flex: 0 0 25%;
}

#eventsTableContainer {
  max-height: 450px;
  overflow-x: auto;
  flex: 0 0 65%;
  margin-left: 1%;
}

#statisticsContainer {
  margin-top: 2%;
}

#statistics {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#statisticsHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

#progressCharts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
